[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[defaults]
inventory = inventory/static_inventory.yml
roles_path = roles
host_key_checking = False
deprecation_warnings = False
vault_password_file = ../../../../.vault
vars_plugins = ../../../plugins/vars
interpreter_python = auto_silent

[privilege_escalation]
become = False
