{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9300 Series Switches ##}
{# Site-105 Loopback0 (NVE / BGP RID). Overlay per-VRF loopbacks unused. #}
{% set DEFN_LOOP_UNDERLAY =
    {
      'Site_105-Leaf1.corp.pseudoco.com':        '172.30.255.1',
      'Site_105-Leaf2.corp.pseudoco.com':        '172.30.255.2',
      'Site_105-Border-Spine.corp.pseudoco.com': '172.30.255.3'
    }
%}
{# Empty: no DMZ EVPN peers in this lab. #}
{% set DEFN_LOOP_MCLUSTER = {} %}
{# Empty: FABRIC-LOOPBACKS renders Loopback0 only when this dict is empty. #}
{% set DEFN_LOOP_OVERLAY = {} %}
{% set DEFN_LOOP_NAME =
    {
        'UNDERLAY':     'Loopback0',
        'ANYCAST':      'Loopback2',
        'DMZ_OVERLAY':  'Loopback2'
    }
%}
{% set DEFN_LOOP_GRE_SRC = {} %}
{% set DEFN_LOOP_GRE_PEER = {} %}
{# End of File #}
