{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9300 Series Switches ##}
{# Site-105 tenants. RD/RT come from Loopback0:id and ASN:id (65535). #}
{# l3_vlan / l3_vni are explicit: L3 core is not vlan == vrf.id.      #}
{% set DEFN_VRF = [
  {'id':'10',  'name':'Main', 'l3_vlan':'1010', 'l3_vni':'110010', 'mdt_default':'', 'mdt_data':''},
  {'id':'101', 'name':'PROD', 'l3_vlan':'1101', 'l3_vni':'110101', 'mdt_default':'', 'mdt_data':''},
  {'id':'102', 'name':'IOT',  'l3_vlan':'1102', 'l3_vni':'110102', 'mdt_default':'', 'mdt_data':''}
  ]
%}
{# All three VRFs on all three fabric nodes (leaves + border-spine). #}
{% set DEFN_VRF_TO_NODE = {
  'Site_105-Leaf1.corp.pseudoco.com':        ['10','101','102'],
  'Site_105-Leaf2.corp.pseudoco.com':        ['10','101','102'],
  'Site_105-Border-Spine.corp.pseudoco.com': ['10','101','102']
} %}
{# No DMZ shared-RT leak in this lab. #}
{% set DEFN_VRF_BORDER_IMPORT_RTS = [] %}
