{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9300 Series Switches ##}
{% set FABRIC_BGP_ASN = '65535' %}
{% set FABRIC_UNDERLAY = {'proto':'ospf', 'instance_id':'1', 'area':'0'} %}
{# One L2 VLAN per VRF. L2VNI = L2VNIOFFSET + vlan (100000 + 10 = 100010). #}
{% set DEFN_OVERLAY = [
  {
    'vrf': 'Main',
    'vlan_ids': ['10'],
    'vlans': {
      '10': {'name':'Main', 'ipaddr':'10.10.255.1 255.255.255.0', 'mac':'0001.0001.0010', 'dhcp_helper':'198.18.5.102', 'bum_addr':'232.1.1.1', 'network':'10.10.255.0 255.255.255.0'}
    }
  },
  {
    'vrf': 'PROD',
    'vlan_ids': ['101'],
    'vlans': {
      '101': {'name':'PROD', 'ipaddr':'10.101.255.1 255.255.255.0', 'mac':'0001.0001.0101', 'dhcp_helper':'198.18.5.102', 'bum_addr':'232.1.1.1', 'network':'10.101.255.0 255.255.255.0'}
    }
  },
  {
    'vrf': 'IOT',
    'vlan_ids': ['102'],
    'vlans': {
      '102': {'name':'IOT', 'ipaddr':'10.102.255.1 255.255.255.0', 'mac':'0001.0001.0102', 'dhcp_helper':'198.18.5.102', 'bum_addr':'232.1.1.1', 'network':'10.102.255.0 255.255.255.0'}
    }
  }
] %}
