{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9300 Series Switches ##}
{# Site-105 leaf access: Gi1/0/1 and 1/0/3 clients (IBNS), Gi1/0/2 AP trunk. #}
{# mode values: access, trunk, autoconf, ibns                                 #}

{% set DEFN_CLIENT_PORTS = {
  'Site_105-Leaf1.dcloud.cisco.com': [
    {'port': 'GigabitEthernet1/0/1', 'description': 'Client', 'portfast': true, 'mode': 'ibns'},
    {'port': 'GigabitEthernet1/0/2', 'vlan': '10,101,102', 'native_vlan': '10', 'description': 'AP', 'portfast_trunk': true, 'mode': 'trunk', 'cts_sgt': '2', 'cts_trusted': true, 'cts_propagate': true},
    {'port': 'GigabitEthernet1/0/3', 'description': 'Client', 'portfast': true, 'mode': 'ibns'}
  ],
  'Site_105-Leaf2.dcloud.cisco.com': [
    {'port': 'GigabitEthernet1/0/1', 'description': 'Client', 'portfast': true, 'mode': 'ibns'},
    {'port': 'GigabitEthernet1/0/2', 'vlan': '10,101,102', 'native_vlan': '10', 'description': 'AP', 'portfast_trunk': true, 'mode': 'trunk', 'cts_sgt': '2', 'cts_trusted': true, 'cts_propagate': true},
    {'port': 'GigabitEthernet1/0/3', 'description': 'Client', 'portfast': true, 'mode': 'ibns'}
  ]
} %}

{% set DEFN_CLIENT_PORT_DEVICES = [
  'Site_105-Leaf1.dcloud.cisco.com',
  'Site_105-Leaf2.dcloud.cisco.com'
] %}
