{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9300 Series Switches ##}
{# Site-105 has no Border↔DMZ GRE. FABRIC-BORDER-DMZ-TUNNELS skips when empty. #}
{% set DEFN_TUNNELS = [] %}
{# End of File #}
